<div class="jumbotron w-50 mx-auto p-4 shadow jumboform">
  <h2 class="title">Profile</h2>
  <h3>Welcome <%=@profile.username%></h3>
  <h5>You can view and edit your profile details here.</h5>
  <div class="form-group">
    <%= form_with model: @profile, local: true do |f| %>
      <div class="field">
        <%= f.label "Name" %>
        <%= f.text_field :username, class: "form-control", required: true %>
      </div>
      <div class="field">
        <%= f.label :age %>
        <%= f.text_field :age, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.submit "Save Changes", class:"btn btn-primary mt-3 font-weight-bold" %>
      </div>
    <% end %>
  </div>
</div>
