<div class="container-fluid h-100 nobg">
  <h1 class="title display-1">
    <%=@group.code%>
  </h1>
  <div class="input-group mb-3">
    <%# <select id="input">
	          <option value="">Fav1 - In Progress</option>
	          <option value="">Fav2</option>
	          <option value="">Fav3</option>
	          <option value="">Fav4</option>
	        </select> %>
    <input class="form-control" id="person" placeholder="Hi <%=@members.last.name%>! Please enter your current location."/>
    <div class="input-group-append">
      <span class="btn btn-primary" id="place">Place</span>
    </div>
    <%= form_for :member, url: member_path(@members.last), method: :patch do |form| %>
      <%= form.hidden_field :lat, {:id => "lat"} %>
      <%= form.hidden_field :lon, {:id => "lon"} %>
      <%= form.hidden_field :place, {:id => "address"} %>
      <%= form.submit(class: "btn btn-primary", value: "Submit", id:  "confirm") %>
    <% end %>
  </div>
  <div class="card-group">
    <%@members.each_with_index do |member, index|%>
      <div class="card">
        <%if index == 0%>
          <div class="card-header">Owner</div>
        <%else%>
          <div class="card-header">Member</div>
        <%end%>
        <div class="card-body">
          <h5 class="card-title">
            <%=member.name%>
          </h5>
          <p class="card-text">
            <%=member.place%>
          </p>
        </div>
      </div>
    <%end%>
  </div>
  <div id="allLat">
    <%@members.each do |member|%>
      <div class="lats"><%= member.lat %></div>
    <%end%>
  </div>
  <div id="allLon">
    <%@members.each do |member|%>
      <div class="lons"><%= member.lon %></div>
    <%end%>
  </div>
  <div id="map" class="mt-2"></div>
  <div class="container">
    <form>
      <select id="type">
        <option value="cafe">Coffee</option>
        <option value="restaurant">Restaurants</option>
        <option value="bar">Bars</option>
        <option value="shopping_mall">Shopping</option>
      </select>
    </form>
    <div id="listBoard"></div>
  </div>
  <button class="btn btn-primary" id="calc">Locate Mid!</button>
  <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM3MixfBEjbgbPdvlSEu8kubULJuXv9bg&libraries=places&callback=initMap"
	    async defer></script>
</div>
