<!DOCTYPE html>
<html>
  <head>
    <title>Unit3Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <%=link_to 'Home', groups_path%>
      <% if user_signed_in? %>
        <strong>
          <p><%=current_user.email%> logged in</p>
        </strong>
        <%if current_user.profile%>
          <%=link_to 'Profile', user_profile_path(current_user.id, current_user.profile.id)%>
        <%else%>
          <%=link_to 'Profile', new_user_profile_path(current_user.id)%>
        <%end%>
        <%=link_to 'New Group', new_group_path%>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
